pre { background: #272822; color: #f8f8f2 }
.highlight-source .hll { background-color: #49483e }
.highlight-source  { background: #272822; color: #f8f8f2 }
.highlight-source .c { color: #75715e } /* Comment */
.highlight-source .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight-source .k { color: #66d9ef } /* Keyword */
.highlight-source .l { color: #ae81ff } /* Literal */
.highlight-source .n { color: #f8f8f2 } /* Name */
.highlight-source .o { color: #f92672 } /* Operator */
.highlight-source .p { color: #f8f8f2 } /* Punctuation */
.highlight-source .ch { color: #75715e } /* Comment.Hashbang */
.highlight-source .cm { color: #75715e } /* Comment.Multiline */
.highlight-source .cp { color: #75715e } /* Comment.Preproc */
.highlight-source .cpf { color: #75715e } /* Comment.PreprocFile */
.highlight-source .c1 { color: #75715e } /* Comment.Single */
.highlight-source .cs { color: #75715e } /* Comment.Special */
.highlight-source .gd { color: #f92672 } /* Generic.Deleted */
.highlight-source .ge { font-style: italic } /* Generic.Emph */
.highlight-source .gi { color: #a6e22e } /* Generic.Inserted */
.highlight-source .gs { font-weight: bold } /* Generic.Strong */
.highlight-source .gu { color: #75715e } /* Generic.Subheading */
.highlight-source .kc { color: #66d9ef } /* Keyword.Constant */
.highlight-source .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight-source .kn { color: #f92672 } /* Keyword.Namespace */
.highlight-source .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight-source .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight-source .kt { color: #66d9ef } /* Keyword.Type */
.highlight-source .ld { color: #e6db74 } /* Literal.Date */
.highlight-source .m { color: #ae81ff } /* Literal.Number */
.highlight-source .s { color: #e6db74 } /* Literal.String */
.highlight-source .na { color: #a6e22e } /* Name.Attribute */
.highlight-source .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight-source .nc { color: #a6e22e } /* Name.Class */
.highlight-source .no { color: #66d9ef } /* Name.Constant */
.highlight-source .nd { color: #a6e22e } /* Name.Decorator */
.highlight-source .ni { color: #f8f8f2 } /* Name.Entity */
.highlight-source .ne { color: #a6e22e } /* Name.Exception */
.highlight-source .nf { color: #a6e22e } /* Name.Function */
.highlight-source .nl { color: #f8f8f2 } /* Name.Label */
.highlight-source .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight-source .nx { color: #a6e22e } /* Name.Other */
.highlight-source .py { color: #f8f8f2 } /* Name.Property */
.highlight-source .nt { color: #f92672 } /* Name.Tag */
.highlight-source .nv { color: #f8f8f2 } /* Name.Variable */
.highlight-source .ow { color: #f92672 } /* Operator.Word */
.highlight-source .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight-source .mb { color: #ae81ff } /* Literal.Number.Bin */
.highlight-source .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight-source .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight-source .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight-source .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight-source .sa { color: #e6db74 } /* Literal.String.Affix */
.highlight-source .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight-source .sc { color: #e6db74 } /* Literal.String.Char */
.highlight-source .dl { color: #e6db74 } /* Literal.String.Delimiter */
.highlight-source .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight-source .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight-source .se { color: #ae81ff } /* Literal.String.Escape */
.highlight-source .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight-source .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight-source .sx { color: #e6db74 } /* Literal.String.Other */
.highlight-source .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight-source .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight-source .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight-source .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight-source .fm { color: #a6e22e } /* Name.Function.Magic */
.highlight-source .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight-source .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight-source .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight-source .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight-source .il { color: #ae81ff } /* Literal.Number.Integer.Long */
